.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 75;
  font-weight: bold;
  font-family: Colfax-Medium;
  text-length: 80;
  text-anchor: middle;
  x: 30%;
  y: 0%+80;
  fill: #f8fcf8;
}

#myDate {
  font-size: 25;
  font-family: Colfax-Regular;
  text-length: 40;
  text-anchor: middle;
  x: 30%;
  y: 50%;
  fill: #707070;
}


#myCurrentBG {
  font-size: 70;
  font-family: Seville-Bold-Condensed;
  text-length: 20;
  text-anchor: start;
  x: 63%;
  y: 25%;
  fill: orangered;
}


#myBGUnits {
  font-size: 24;
  font-family: Seville-Regular;
  text-length: 20;
  text-anchor: start;
  x: 83%;
  y: 20%+35;
  fill: orangered;
}


#myBGUpdateTime {
  font-size: 25;
  font-family: Colfax-Regular;
  text-length: 20;
  text-anchor: start;
  x: 63%;
  y: 30%+50;
  fill: orangered;
}

#myBGTrend {
  font-size: 40;
  font-family: Seville-Bold;
  font-weight: regular;
  text-length: 30;
  text-anchor: middle;
  x: 315;
  y: 130;
  fill: green;
}

#myMissedBGPollCounter {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 250;
  y: 125;
  fill: orangered;
}

#myBGTrend {
  font-size: 80;
  font-family: Fabrikat;
  text-length: 80;
  text-anchor: middle;
  x: 89%;
  y: 57%;
  fill: orangered;
}

#mySteps {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 12.5%;
  y: 94%;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 28;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  x: 37.5%;
  y: 70%;
  fill: #f8fcf8;
}


#myCals {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 62.5%;
  y: 94%;
  fill: #f8fcf8;
}

#myHR {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 87.5%;
  y: 94%;
  fill: #f8fcf8;
}

#sensor-data {
  font-family: System-Light;
  fill: white;
  text-anchor: middle;
  text-length: 65;
}

.scale{
  font-family: System-Light;
  font-size: 18;
  fill: white;
  text-anchor: end;
  text-length: 4;
}

.scaletick{
  font-family: System-Light;
  font-size: 14;
  fill: white;
  text-anchor: start;
  text-length: 4;
}

.gval {
  fill: green;
}
