.background {
  viewport-fill: black;
}

#myLabel {
  font-size: 70;
  font-weight: bold;
  font-family: Colfax-Medium;
  text-length: 80;
  text-anchor: middle;
  x: 30%;
  y: 0%+80;
  fill: #f8fcf8;
}

#myDate {
  font-size: 24;
  font-family: Colfax-Regular;
  text-length: 40;
  text-anchor: middle;
  x: 30%;
  y: 51%;
  fill: #707070;
}


#myCurrentBG {
  font-size: 65;
  font-family: Seville-Bold-Condensed;
  text-length: 20;
  text-anchor: middle;
  x: 80%;
  y: 30%;
  fill: orangered;
}


#myBGUnits {
  font-size: 20;
  font-family: Seville-Regular;
  text-length: 20;
  text-anchor: middle;
  x: 90%;
  y: 38%;
  fill: orangered;
}


#myBGUpdateTime {
  font-size: 25;
  font-family: Colfax-Regular;
  text-length: 20;
  text-anchor: start;
  x: 63%;
  y: 30%+50;
  fill: orangered;
}

#myBGTrend {
  font-size: 80;
  font-family: Fabrikat;
  font-weight: regular;
  text-length: 30;
  text-anchor: middle;
  x: 90%;
  y: 45%;
  fill: green;
}

#myMissedBGPollCounter {
  font-size: 30;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 65%+15;
  y: 46%;
  fill: orangered;
}

#myBGPollCounterLabel1 {
  font-size: 13;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 65%+15;
  y: 50%;
  fill: orangered;
}

#myBGPollCounterLabel2 {
  font-size: 13;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 65%+15;
  y: 50%+10;
  fill: orangered;
}

#myBGTrend {
  font-size: 80;
  font-family: Fabrikat;
  text-length: 80;
  text-anchor: middle;
  x: 87%;
  y: 55%;
  fill: orangered;
}

#mySteps {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 12.5%;
  y: 90%;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 28;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  x: 37.5%;
  y: 70%;
  fill: #f8fcf8;
}

#myCals {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 62.5%;
  y: 90%;
  fill: #f8fcf8;
}

#myHR {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 87.5%;
  y: 90%;
  fill: #f8fcf8;
}

#sensor-data {
  font-family: System-Light;
  fill: white;
  text-anchor: middle;
  text-length: 65;
}

#graph-data-range {
  font-family: System-Light;
  fill: gainsboro;
  text-length: 15;
  font-size:18;
}

.scale{
  font-family: System-Light;
  font-size: 18;
  fill: white;
  text-anchor: end;
  text-length: 4;
}

.scaletick{
  font-family: System-Light;
  font-size: 14;
  fill: white;
  text-anchor: start;
  text-length: 4;
}

.gval {
  fill: green;
}
